html{
    font-family: Arial, Helvetica, sans-serif;
}
#Winner{
    display: none;
}
#WinnerText{
    font-size: 2rem;
}
#PlayAgain{
    background-color: greenyellow;
    font-size: 1.2rem;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
}
#tictactoecont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 60vh;
    justify-self: center;
    height: 60vh;
    background-color:rgb(173, 133, 80);
    border: 1px solid black;
}
#tictactoecont > * {
    font-size: 4rem;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
body{
    background-color: tan
}
#Main{
    justify-items: center;
    display: none;
}